* {
    box-sizing: border-box;

}

body {
    background-color: #f5f5f5;
    color: #414141;
}

.portada {
    padding: -5rem;
}

h1 {
    color: #414141;
}

.h1Espaciado {
    letter-spacing: 0.8rem;
}

.btn-espaciado {
    letter-spacing: 0.3rem;
}

.nav-font {
    font-size: 0.9rem;
    font-weight: 500;
}

.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav100 {
    position: fixed;
    top: 0;
    background-color: #f5f5f5;
    z-index: 999;
}

.shadow-nav {
    box-shadow: 0 .5rem 1rem rgba(65, 65, 65, 0.418);
}

.bgFooter {
    background-color: rgb(230, 230, 230);
}

.bgDorado {
    background-color: #d48f26;
}

.logo {
    max-width: 60px;
}

.icono {
    width: 40px;
    height: 40px;
}

.icono-datos {
    width: 30px;
    height: 30px;
}

.pFooter {
    font-size: 0.9rem;
}

.catalogoPiezas {
    width: calc(100% - 2rem);
    margin: 1rem;
    background-color: #f5f5f5;
    color: rgb(65, 65, 65);
    border: none;
}

.descripcionCatalogoPiezas {
    margin: 1rem 0;
}

.card-title {
    padding: 1rem;
    border-bottom: 1px solid rgb(212, 143, 38);
}

.nav-line {
    padding: 1rem;
    border-bottom: 1px solid rgb(56, 56, 56);
}

.precioCatalogo {
    font-weight: 500;
    color: rgb(212, 143, 38);
    font-size: 1.1rem;
    padding: 0.5rem;
    text-align: center;
    display: block;
    margin: auto;
    cursor: pointer;
}

.textoDorado {
    color: rgb(212, 143, 38);
    text-decoration: none;
}

.textoDorado:hover {
    color: whitesmoke;
    background-color: rgb(212, 143, 38);
}

nav a {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(65, 65, 65);
}

a:hover {
    color: rgb(146, 89, 3);
}

.btn-enviar {
    border: 2px solid rgb(212, 143, 38);
}

.btn-enviar:hover {
    border: 2px solid rgb(212, 143, 38);
    background-color: rgb(212, 143, 38);
    color: whitesmoke;
}

pre {
    display: block;
    margin: 4rem auto;
    padding: 4rem;
    background-color: #d48f26;
    color: aliceblue;
    width: fit-content;

}

.piezaID {
    width: 70%;
    margin: 1rem;
    background-color: whitesmoke;
    color: #414141;
    border: none;

}

.dropdown-item:hover {
    background-color: whitesmoke;
    color: #414141;
}

.bg-negro {
    background-color: rgb(20, 20, 20);
}

.bg-panel {
    background-color: #EF6C57;
}

.color-panel {
    color: #EF6C57;
}

.admin-img {
    width: 150px;
}

.edit-img {
    width: 120px;
}

.icono-admin {
    width: 25px;
}

.img-resumen {
    max-width: 250px;
}


@media (min-width: 576px) {

    .catalogoPiezas {
        width: calc(50% - 2rem);
        margin: 1rem;
        background-color: whitesmoke;
        color: rgb(65, 65, 65);
        border: none;
    }

    .logo {
        max-width: 80px;
    }

}

@media (min-width: 992px) {

    .catalogoPiezas {
        width: calc(33.3% - 2rem);
        margin: 1rem;
        background-color: whitesmoke;
        color: rgb(65, 65, 65);
        border: none;
    }
}